<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <script type="text/javascript" src="https://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.js"></script>

  <title></title>
</head>
<body>
    <a href="OUTPUT/">Browse OUTPUT</a>
    <div id="svg-div" style="border:solid" height="100%">

<svg width="100%" height="80vh"
 viewBox="0.00 0.00 3981.00 2304.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
{{SVG_CONTENT()}}
</svg>
</div>

    <script>
      // Don't use window.onLoad like this in production, because it can only listen to one function.
      mydiv = document.getElementById("svg-div");
      svg = mydiv.querySelector("svg");
      window.onload = function() {
        svgPanZoom( svg, {
        // svgPanZoom( "#svg-div", {
          // mydiv.querySelector("svg"), {
          zoomEnabled: true,
          controlIconsEnabled: true
        });
      };
    </script>



</body>
</html>
